<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7c32f7b4-b72b-4740-a314-39319b785ca4" Alias="colorVersionSettings" Level="4">
  <Info>
    <Name>Color Version settings</Name>
    <Icon>icon-science color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>modelos/settings/sub</Folder>
    <Compositions>
      <Composition Key="4cec369d-1328-4898-a68c-5443f69536a1">blockVisibilitySettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>