<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9de735d1-b1d2-49a7-9ef0-62c889df71e4" Alias="colorVersion" Level="4">
  <Info>
    <Name>Color Version</Name>
    <Icon>icon-science color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>modelos/elements+type/sub</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b03735a4-070e-4b3a-9fca-f2192b4251fb</Key>
      <Name>Color</Name>
      <Alias>color</Alias>
      <Definition>d098d4c5-19e0-4308-8157-4de9606bf979</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[color exacto de la version]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="colors">colors</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>321e6dbe-7be8-498b-abdf-7b3b55a3e983</Key>
      <Name>Color Iframe</Name>
      <Alias>colorIframe</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[iframe con vista 360]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="colors">colors</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b9c9b96b-b8c0-45a8-b85f-32b79655d331</Key>
      <Name>Imagen del color</Name>
      <Alias>ColorImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Imagen del auto con el color]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="colors">colors</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c5f2a0b7-4a87-4fab-95da-ce676f077549</Key>
      <Name>Nombre del color</Name>
      <Alias>colorName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="colors">colors</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e7c3e6af-1d29-44d7-a920-6f61978a9495</Key>
      <Caption>colors</Caption>
      <Alias>colors</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>