<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7dc219b9-21f3-4cd5-8552-d04d19d7e061" Alias="featureVersionItemSettings" Level="4">
  <Info>
    <Name>Feature version item settings</Name>
    <Icon>icon-science color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>modelos/settings/sub</Folder>
    <Compositions>
      <Composition Key="4cec369d-1328-4898-a68c-5443f69536a1">blockVisibilitySettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>