<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bc860102-3152-4ac8-a599-e5cc36a93209" Alias="featureVersionItem" Level="4">
  <Info>
    <Name>Feature version item</Name>
    <Icon>icon-science color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>modelos/elements+type/sub</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2bb674eb-0503-4a2e-b604-77453d448b57</Key>
      <Name>Medida</Name>
      <Alias>FeatureMeasure</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Medida de la caracteristica]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="caracteristica">Caracteristica</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>287e6fd4-1587-4c72-aff4-64b4af8a19f2</Key>
      <Name>Nombre</Name>
      <Alias>FeatureName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Nombre de la caracteristica]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="caracteristica">Caracteristica</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>92291219-b36b-4287-ab36-0e07c731e96a</Key>
      <Caption>Caracteristica</Caption>
      <Alias>caracteristica</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>