<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="969261eb-e815-48bc-be50-c53fadaea895" Alias="home" Level="2">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>main page</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>pages</Folder>
    <Compositions />
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="66dff14e-2e84-4178-9fbd-ef995ec88cff">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="0de11dfa-038a-4c54-92a6-8cbb8bf0fab4" SortOrder="0">models</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>