<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6ee80cd0-af01-4a3f-be18-5caa4dceb4f7" Alias="slidersGalery2" Level="3">
  <Info>
    <Name>Sliders Galery 2</Name>
    <Icon>icon-science color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>modelos/elements+type</Folder>
    <Compositions>
      <Composition Key="5d9b1165-90f9-407e-bfa7-90fd21565aee">imageCompo</Composition>
      <Composition Key="dca63b99-98e3-4bea-a886-be4b3b434119">paragraphCompo</Composition>
      <Composition Key="616046d0-e64a-4cab-9c97-4cc041ceca0a">sectionNameCompo</Composition>
      <Composition Key="bd3b6d71-8315-4e4d-a21d-039c6f3c070f">titleComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>