<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="29d21b38-844a-4cea-83b9-0b1f107685c4" Alias="versionItem" Level="3">
  <Info>
    <Name>Version Item</Name>
    <Icon>icon-science color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>modelos/elements+type</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ae5e512f-936e-44dc-a34c-5b25e4bd866b</Key>
      <Name>Características</Name>
      <Alias>caracteristicas</Alias>
      <Definition>a67b9400-5009-4e35-ae40-82aac519387d</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[caracteristicas de la version]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="datos/caracteristicas">Caracteristicas</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d6d04a78-c279-4127-9189-8073d219927e</Key>
      <Name>Colores</Name>
      <Alias>ExteriorImages</Alias>
      <Definition>7b8b7f34-3cd9-446d-9eee-1c85b0163cce</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Colores del Exterior de la version]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="imagenes/imagenesExterior">Imagenes Exterior</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>789a9682-52d0-4086-9120-c5805437af2b</Key>
      <Name>Colores</Name>
      <Alias>InteriorImages</Alias>
      <Definition>7b8b7f34-3cd9-446d-9eee-1c85b0163cce</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Colores del Interior de la versión]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="imagenes/imagenesInterior">Imagenes Interior</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5ca8d871-8bec-448d-bd81-ae90784d4d23</Key>
      <Name>links</Name>
      <Alias>links</Alias>
      <Definition>0f31a1fb-e010-46e5-bbd5-af2fd269f1a7</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="datos/datos">datos</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f783ba6b-7d60-4522-bc84-c2372e34ebb2</Key>
      <Name>Precio en numeros</Name>
      <Alias>NumberPrice</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[precio en numeros de la version]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="datos/datos">datos</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a45f32c5-0002-4203-8ba4-643465db7a42</Key>
      <Name>Nombre de la version</Name>
      <Alias>VersionName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="datos/datos">datos</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2b1401eb-eae7-4070-928b-924686333fdf</Key>
      <Name>Precio en letras</Name>
      <Alias>versionPrice</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[precio en letras de la version]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="datos/datos">datos</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0d15503a-362d-4d9a-993d-8f15d50cfb91</Key>
      <Caption>Imagenes Interior</Caption>
      <Alias>imagenes/imagenesInterior</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>5a6780df-cae1-472d-b9ce-d6faafc5678d</Key>
      <Caption>imagenes</Caption>
      <Alias>imagenes</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>61991408-4d5d-4a5b-ad59-6346583704f7</Key>
      <Caption>Caracteristicas</Caption>
      <Alias>datos/caracteristicas</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>97468e0b-4e62-41b2-9d6d-2b3069d9a025</Key>
      <Caption>datos</Caption>
      <Alias>datos/datos</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>cb22c8d3-3653-4d0a-b413-4def194d313e</Key>
      <Caption>datos</Caption>
      <Alias>datos</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>f7a78aff-964e-433b-a785-b47db9da0e93</Key>
      <Caption>Imagenes Exterior</Caption>
      <Alias>imagenes/imagenesExterior</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>