@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section id="parte5" class="tabs-carousel bg-gris">
    <div class="link"></div>
    <div class="container_parte5">
        <div class="auxi">
            <div class="cont-tit">
                @if (Model.Value("G1title") != null && !string.IsNullOrEmpty(Model.Value<string>("G1title")))
                {
                    <p class="epig">@Model.Value("G1title")</p>
                }
            </div>                 
            @Html.GetBlockListHtml(Model, "G1swiper","galeria1/sliderGaleria1copy")       
    </div>
</section>