<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7b8b7f34-3cd9-446d-9eee-1c85b0163cce" Alias="[BlockList] Version Colors" Level="1">
  <Info>
    <Name>[BlockList] Version Colors</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "9de735d1-b1d2-49a7-9ef0-62c889df71e4",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{colorName}}{{$settings.hide=='1'?' [HIDDEN]':''}}",
      "settingsElementTypeKey": "7c32f7b4-b72b-4740-a314-39319b785ca4",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>