<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a78a8a6d-5d24-4066-af74-b46300882b54" Alias="[blocklist] sliders galeria tecnologia" Level="1">
  <Info>
    <Name>[blocklist] sliders galeria tecnologia</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "be2d0bff-d1a9-4bb8-b5fb-c24579e25ad3",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title}}{{$settings.hide=='1'?' [HIDDEN]':''}}",
      "settingsElementTypeKey": "a5e5bdd9-1962-4bc3-860a-c0ae2eb70c25",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>