<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a67b9400-5009-4e35-ae40-82aac519387d" Alias="[blockList] Feature Version items" Level="1">
  <Info>
    <Name>[blockList] Feature Version items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "bc860102-3152-4ac8-a599-e5cc36a93209",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{FeatureName}}{{$settings.hide=='1'?' [HIDDEN]':''}}",
      "settingsElementTypeKey": "7dc219b9-21f3-4cd5-8552-d04d19d7e061",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": 4,
    "min": null
  }
}]]></Config>
</DataType>