<?xml version="1.0" encoding="utf-8"?>
<DataType Key="50dccec9-0af2-4715-a16d-db27c90bb1c9" Alias="[BlockList] Versions" Level="1">
  <Info>
    <Name>[BlockList] Versions</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "29d21b38-844a-4cea-83b9-0b1f107685c4",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{VersionName}}{{$settings.hide=='1'?' [HIDDEN]':''}}",
      "settingsElementTypeKey": "da0990d2-419f-4f86-aa2f-590ddce96a9c",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>