<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b8eb61c0-10af-4cfe-83a6-5945199e6e65" Alias="[BlockList] Galery 2" Level="1">
  <Info>
    <Name>[BlockList] Galery 2</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "6ee80cd0-af01-4a3f-be18-5caa4dceb4f7",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title}}",
      "settingsElementTypeKey": "6912b39d-b2ea-4709-8f62-61d1f740b87f",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>