<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6d3ccb41-9ab3-4571-8d3d-b88d1dd98e00" Alias="Color Version - Color - Color Picker" Level="1">
  <Info>
    <Name>Color Version - Color - Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [],
  "UseLabel": true
}]]></Config>
</DataType>