<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8c72b624-8810-4a6d-aa1b-7e3f1d6e24b5" Alias="[NestedItem] diseño interior" Level="1">
  <Info>
    <Name>[NestedItem] diseño interior</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "{{itemTitle}}",
      "ncAlias": "item",
      "ncTabAlias": "text"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": 4,
  "MinItems": null,
  "ShowIcons": true
}]]></Config>
</DataType>