<?xml version="1.0" encoding="utf-8"?>
<DataType Key="196ea9c4-5ac4-4f0d-9f39-1a05624f76fc" Alias="[NestedContent] swiper Galery 2" Level="1">
  <Info>
    <Name>[NestedContent] swiper Galery 2</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "{{title}}",
      "ncAlias": "slidersGalery2Nested",
      "ncTabAlias": "content"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": null,
  "MinItems": null,
  "ShowIcons": true
}]]></Config>
</DataType>