<?xml version="1.0" encoding="utf-8"?>
<Media Key="070c55cf-1ee4-4dd5-b289-89f6dc999bcb" Alias="Desktop Mercedes Benz Eqa Limitador Speedtronic" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DesktopMercedesBenzEqaLimitadorSpeedtronic</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-17T10:32:23</CreateDate>
    <NodeName Default="Desktop Mercedes Benz Eqa Limitador Speedtronic" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zfkbyb5e/desktop_mercedes_benz_eqa_limitador_speedtronic.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>