<?xml version="1.0" encoding="utf-8"?>
<Media Key="b0c6dad4-4393-4fa1-a7ca-66023bcd73dd" Alias="Desktop Mercedes Benz Eqa Keyless Go" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DesktopMercedesBenzEqaKeylessGo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-09T15:16:16</CreateDate>
    <NodeName Default="Desktop Mercedes Benz Eqa Keyless Go" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0lnmnmet/desktop_mercedes_benz_eqa_keyless_go.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>