<?xml version="1.0" encoding="utf-8"?>
<Media Key="1d7caa8c-fdb6-4ba9-a73b-fb0a8d0309d3" Alias="Desktop Mercedes Benz Eqa Luces Carretera" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DesktopMercedesBenzEqaLucesCarretera</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-17T10:25:28</CreateDate>
    <NodeName Default="Desktop Mercedes Benz Eqa Luces Carretera" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rkvhyhnw/desktop_mercedes_benz_eqa_luces_carretera.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>