<?xml version="1.0" encoding="utf-8"?>
<Media Key="506a9d34-e9ba-4cd3-b6e6-b49c0c7e3ade" Alias="Desktop Mercedes Benz Eqa Galeria Exterior 4" Level="2">
  <Info>
    <Parent Key="8e9104e9-cf03-45b8-a998-4348797fa6c0">modelos</Parent>
    <Path>/modelos/DesktopMercedesBenzEqaGaleriaExterior4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-19T11:40:06</CreateDate>
    <NodeName Default="Desktop Mercedes Benz Eqa Galeria Exterior 4" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gkohuuf0/desktop_mercedes_benz_eqa_galeria_exterior_4.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>