<?xml version="1.0" encoding="utf-8"?>
<Media Key="5563bf45-c5fb-49e9-8b07-5665eaf44ada" Alias="Desktop Mercedes Benz Eqa Interiordesktop" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DesktopMercedesBenzEqaInteriordesktop</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-29T17:31:59</CreateDate>
    <NodeName Default="Desktop Mercedes Benz Eqa Interiordesktop" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/io5hgvp1/desktop_mercedes_benz_eqa_interiordesktop.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>