<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ac35f4a-d0a6-40e6-a6f4-f864c754103b" Alias="Desktop Mercedes Benz Eqa Exterior" Level="2">
  <Info>
    <Parent Key="8e9104e9-cf03-45b8-a998-4348797fa6c0">modelos</Parent>
    <Path>/modelos/DesktopMercedesBenzEqaExterior</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-19T11:40:06</CreateDate>
    <NodeName Default="Desktop Mercedes Benz Eqa Exterior" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jrpng4vg/desktop_mercedes_benz_eqa_exterior.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>