<?xml version="1.0" encoding="utf-8"?>
<Media Key="50e83f17-6287-4a9c-8ce5-5b1713f779d1" Alias="Desktop Mercedes Benz Eqa Galeria Exterior 2" Level="2">
  <Info>
    <Parent Key="8e9104e9-cf03-45b8-a998-4348797fa6c0">modelos</Parent>
    <Path>/modelos/DesktopMercedesBenzEqaGaleriaExterior2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-19T11:40:06</CreateDate>
    <NodeName Default="Desktop Mercedes Benz Eqa Galeria Exterior 2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ce5pqueh/desktop_mercedes_benz_eqa_galeria_exterior_2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>