<?xml version="1.0" encoding="utf-8"?>
<Media Key="8e9104e9-cf03-45b8-a998-4348797fa6c0" Alias="modelos" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/modelos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-10-19T11:36:08</CreateDate>
    <NodeName Default="modelos" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>