<?xml version="1.0" encoding="utf-8"?>
<Content Key="cb5fb0cb-40c5-44ac-8000-7dcb700a7a3c" Alias="amg" Level="2">
  <Info>
    <Parent Key="f784580d-a82c-4106-a535-fe969294ca11">Home</Parent>
    <Path>/Home/amg</Path>
    <Trashed>false</Trashed>
    <ContentType>models</ContentType>
    <CreateDate>2023-09-25T11:21:59</CreateDate>
    <NodeName Default="amg" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d7268184-5cfb-418c-aa3f-ee71bda1d15b">models</Template>
  </Info>
  <Properties>
    <bannerImageDesktop>
      <Value><![CDATA[[
  {
    "key": "7f70094c-0882-48c0-8396-f2e346cb1453",
    "mediaKey": "af966cb1-7267-49c9-8970-0712221b0d30"
  }
]]]></Value>
    </bannerImageDesktop>
    <bannerLinks>
      <Value><![CDATA[[
  {
    "name": "cotiza tu EQA",
    "url": "#"
  },
  {
    "name": "amg",
    "udi": "umb://document/cb5fb0cb40c544ac80007dcb700a7a3c"
  }
]]]></Value>
    </bannerLinks>
    <Bannerparagraph1>
      <Value><![CDATA[SUV eléctrico, movilidad sostenible]]></Value>
    </Bannerparagraph1>
    <Bannerparagraph2>
      <Value><![CDATA[Precio desde:]]></Value>
    </Bannerparagraph2>
    <bannerprice>
      <Value><![CDATA[$77.990]]></Value>
    </bannerprice>
    <bannertitle>
      <Value><![CDATA[Mercedes-Benz EQA]]></Value>
    </bannertitle>
    <DEimage>
      <Value><![CDATA[[
  {
    "key": "06381fe4-588c-43dd-8cd8-0f58e61be3c0",
    "mediaKey": "af966cb1-7267-49c9-8970-0712221b0d30"
  }
]]]></Value>
    </DEimage>
    <DEparagraph>
      <Value><![CDATA[La movilidad sostenible es clave para una eficiencia inteligente, capaz de cuidar y respetar el medioambiente. EQA, el primer SUV compacto completamente eléctrico de Mercedes-Benz, es el automóvil de las generaciones que vendrán.]]></Value>
    </DEparagraph>
    <DEsection>
      <Value><![CDATA[DISEÑO EXTERIOR]]></Value>
    </DEsection>
    <DEtitle>
      <Value><![CDATA[EQA - Un SUV 100 % eléctrico]]></Value>
    </DEtitle>
    <DEUrlVideo>
      <Value><![CDATA[]]></Value>
    </DEUrlVideo>
    <DEyoutube>
      <Value><![CDATA[]]></Value>
    </DEyoutube>
    <DIimage>
      <Value><![CDATA[[
  {
    "key": "4029ca49-25c1-4cfd-88fe-035580eb6664",
    "mediaKey": "5563bf45-c5fb-49e9-8b07-5665eaf44ada"
  }
]]]></Value>
    </DIimage>
    <DIitems>
      <Value><![CDATA[[
  {
    "key": "b0d0102d-3efa-4a36-94ca-5adaebf0cb18",
    "name": "Item 1",
    "ncContentTypeAlias": "item",
    "PropType": null,
    "ItemTitle": "Volante omnipotente",
    "ItemText": "El volante deportivo multifunción del EQA brinda el máximo control, mientras te conecta fácilmente con tu coche. Gracias a los botones de control táctil, podés ajustar todo tipo de configuraciones y funciones sin quitar las manos del volante."
  },
  {
    "key": "9624ad7f-7601-4dde-93a4-fec01ff823ac",
    "name": "Item 2",
    "ncContentTypeAlias": "item",
    "PropType": null,
    "ItemTitle": "Crea tu ambiente",
    "ItemText": "El sistema de iluminación ambiental del EQA permite generar el ambiente interior deseado de acuerdo a tus preferencias o estado de ánimo. Con 64 colores de iluminación e intrigantes esquemas de color, el impulso creativo será dificil de contener."
  },
  {
    "key": "6c3e4ab3-70c1-4e09-8032-63a95e607124",
    "name": "Item 3",
    "ncContentTypeAlias": "item",
    "PropType": null,
    "ItemTitle": "Puesto de conducción widescreen",
    "ItemText": "El puesto de conducción widescreen completamente digital con pantallas de 10.25\" muestra, por un lado el contenido de los sistemas de infoentretenimiento y los ajustes del vehículo y por otro lado el cuadro de instrumentos."
  },
  {
    "key": "680a0407-7f8b-4a55-b898-b18dcca3cf53",
    "name": "Item 4",
    "ncContentTypeAlias": "item",
    "PropType": null,
    "ItemTitle": "Asientos de confort",
    "ItemText": "Los asientos de confort del EQA proporcionan un alto nivel de comodidad en viajes largos y tienen una amplia gama de ajustes de longitud y altura. También es posible modificar el ángulo de la superficie de asiento e incluso ampliarlo."
  }
]]]></Value>
    </DIitems>
    <DIparagraph>
      <Value><![CDATA[Lujo e integración deportiva. El singular diseño exterior del EQA le confiere un carácter auténticamente excepcional: este vehículo tiene su propia identidad. Es el atleta compacto de la familia Mercedes-EQ, futurista y dinámico, con un espíritu fuerte y competitivo.]]></Value>
    </DIparagraph>
    <DIsection>
      <Value><![CDATA[DISEÑO INTERIOR]]></Value>
    </DIsection>
    <DItitle>
      <Value><![CDATA[Un diseño electrizante]]></Value>
    </DItitle>
    <G1swiper>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9becef5ffbfe442d89b895929f57a481",
        "settingsUdi": "umb://element/f82f9c07312f43f8973def86b59e0019"
      },
      {
        "contentUdi": "umb://element/0198c435eaf74d1cb91e418c88f2706b",
        "settingsUdi": "umb://element/6d7dea58813b40e08f3c672322a13e0f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "be2d0bff-d1a9-4bb8-b5fb-c24579e25ad3",
      "udi": "umb://element/9becef5ffbfe442d89b895929f57a481",
      "title": "Keyless-go",
      "paragraph": "El paquete de confort KEYLESS-GO permite arrancar y bloquear el cierre centralizado sin más que llevar contigo la llave. Además podrás abrir y cerrar de forma automática la tapa del compartimento portaequipajes con tan solo presionar un botón desde la llave.",
      "image": [
        {
          "key": "f1edbef5-c982-4a6b-a51e-7b581ab691a0",
          "mediaKey": "b0c6dad4-4393-4fa1-a7ca-66023bcd73dd"
        }
      ]
    },
    {
      "contentTypeKey": "be2d0bff-d1a9-4bb8-b5fb-c24579e25ad3",
      "udi": "umb://element/0198c435eaf74d1cb91e418c88f2706b",
      "title": "Mercedes-Benz EQA",
      "image": [
        {
          "key": "75a65020-bdff-4dfc-a8cc-1821020f0849",
          "mediaKey": "af966cb1-7267-49c9-8970-0712221b0d30"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "a5e5bdd9-1962-4bc3-860a-c0ae2eb70c25",
      "udi": "umb://element/f82f9c07312f43f8973def86b59e0019",
      "hide": "0"
    },
    {
      "contentTypeKey": "a5e5bdd9-1962-4bc3-860a-c0ae2eb70c25",
      "udi": "umb://element/6d7dea58813b40e08f3c672322a13e0f",
      "hide": "0"
    }
  ]
}]]></Value>
    </G1swiper>
    <G1title>
      <Value><![CDATA[Tecnologia]]></Value>
    </G1title>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>