<?xml version="1.0" encoding="utf-8"?>
<Content Key="f784580d-a82c-4106-a535-fe969294ca11" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2023-09-25T11:19:55</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="66dff14e-2e84-4178-9fbd-ef995ec88cff">Home</Template>
  </Info>
  <Properties />
</Content>